<nav class="navbar">
 <div></div>
  <!-- Logo o Título -->
    <div class="search-container">
      <input type="text" class="search-bar" placeholder="I'm looking for....">
      <button class="search-button">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>
  
  <!-- Iconos de redes sociales -->
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/carlos-manuel-mendoza-villa-1b9005208/" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="https://github.com/carlostr1x" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="https://www.instagram.com/carlostr1x/" target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
  </div>
</nav>


