<div class="card">
  <!-- Imagen del producto -->
  <div class="product-image">
    <img [src]="productImage" alt="Product Image">
  </div>

  <!-- Nombre del producto -->
  <div class="product-name">
    {{ productName }}
  </div>

  <!-- Precio y info adicional -->
  <div class="product-info">
    <p class="product-price">{{ productPrice }}$</p>
    <p class="extra-info">{{ extraInfo }}</p>
  </div>

  <!-- Botón de compra -->
  <div class="buy-button-container">
    <button class="buy-button">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </button>
  </div>
</div>
