<div class="scroll">
    <div>
        <fa-icon class="image" [icon]="faFacebook"></fa-icon>
        <fa-icon class="image" [icon]="faAirbnb"></fa-icon>
        <fa-icon class="image" [icon]="faAndroid"></fa-icon>
        <fa-icon class="image" [icon]="faAngular"></fa-icon>
        <fa-icon class="image" [icon]="faGithub"></fa-icon>
        <fa-icon class="image" [icon]="faAppStore"></fa-icon>
    </div>

    <div>
        <fa-icon class="image" [icon]="faAdversal"></fa-icon>
        <fa-icon class="image" [icon]="faAws"></fa-icon>
        <fa-icon class="image" [icon]="faApple"></fa-icon>
        <fa-icon class="image" [icon]="faArtstation"></fa-icon>
        <fa-icon class="image" [icon]="faAlipay"></fa-icon>
        <fa-icon class="image" [icon]="faBattleNet"></fa-icon>

    </div>
    <div>
        <fa-icon class="image" [icon]="faFacebook"></fa-icon>
        <fa-icon class="image" [icon]="faAirbnb"></fa-icon>
        <fa-icon class="image" [icon]="faAndroid"></fa-icon>
        <fa-icon class="image" [icon]="faAngular"></fa-icon>
        <fa-icon class="image" [icon]="faGithub"></fa-icon>
        <fa-icon class="image" [icon]="faAppStore"></fa-icon>
    </div>

    <div>
        <fa-icon class="image" [icon]="faAdversal"></fa-icon>
        <fa-icon class="image" [icon]="faAws"></fa-icon>
        <fa-icon class="image" [icon]="faApple"></fa-icon>
        <fa-icon class="image" [icon]="faArtstation"></fa-icon>
        <fa-icon class="image" [icon]="faAlipay"></fa-icon>
        <fa-icon class="image" [icon]="faBattleNet"></fa-icon>

    </div>
    
</div>
